.secondary-testimony {
  text-align: center;
  // padding-bottom: 100px;
  // padding-left: 150px;
  // padding-right: 150px;

  // @media only screen and (max-width: 810px) {
  //   padding-left: 50px;
  //   padding-right: 50px;
  // }

  // @media only screen and (max-width: 600px) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }

  .secondary-testimony-list {
    @apply --layout-horizontal;
    @apply --layout-wrap;
    display: grid;
    grid-template-columns: 1fr 710px 710px auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 1440px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .secondary-testimony-color-1 {
      background-color: #ce345d;
      width: 100%;
      @media only screen and (max-width: 1440px) {
        display: none;
      }
    }

    .secondary-testimony-color-2 {
      background-color: #b32c50;
      width: 100%;
      @media only screen and (max-width: 1440px) {
        display: none;
      }
    }

    .secondary-testimony {
      color: #fff;
      position: relative;
      padding-bottom: 210px;


      @media only screen and (max-width: 600px) {
        padding-bottom: 160px;
      }

      .secondary-testimony-text {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.69;
        padding: 30px 70px 30px;
        padding-bottom: 0px;
        text-align: center;
        color: #ffffff;

        @media only screen and (max-width: 600px) {
          padding: 30px;
          font-size: 16px;
        }
      }

      .secondary-testimony-person {
        position: absolute;
        width: 100%;
        bottom: 0px;
        margin-bottom: 60px;

        .secondary-testimony-image {
          height: 80px;
          width: 80px;
          border-radius: 50%;
        }

        .secondary-testimony-name {
          font-family: 'Playfair Display';
          font-size: 30px;
          margin: 0px;
          color: #ffffff;

          @media only screen and (max-width: 600px) {
            font-size: 20px;
          }
        }

        .secondary-testimony-country {
          font-family: 'Montserrat';
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 5px;
          margin: 0px;
          color: #ffffff;
        }
      }

    }

    .secondary-testimony-0 {
      background-color: #ce345d;
    }

    .secondary-testimony-1 {
      background-color: #b32c50;
    }
  }
}
