.footer {
  background-image: linear-gradient(to bottom, #b32c50, #191437, #191437);

  > .footer-container {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    max-width: 1440px;

    @media only screen and (max-width: 810px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media only screen and (max-width: 600px) {
      padding-left: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 30px;
    }

    > h1 {
      font-family: 'Playfair Display';
      font-size: 32px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: 1px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 60px;

      @media only screen and (max-width: 600px) {
        font-size: 18px;
        margin-bottom: 40px;
      }
    }

    .insight-grid {
      @apply --layout-horizontal;
      @apply --layout-wrap;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 135px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px 15px;
      justify-content: center;
      justify-items: center;

      @media only screen and (max-width: 1000px) {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
      }

      .insight-image-container {
        margin-right: 20px;

        @media only screen and (max-width: 1000px) {
          display: none;
        }

        > .insight-image {
          @media only screen and (max-width: 1260px) {
            width: 300px;
          }
          width: 80%;
        }
      }

      .insight-form-container {
        width: 100%;

        .insight-form {

          .insight-checkbox-container {
            padding-bottom: 20px;

            .insight-checkbox {
              --paper-checkbox-label-color: #ffffff;
              --paper-checkbox-unchecked-color: #ffffff;
              --paper-checkbox-checked-color: #54a1d3;
              --paper-checkbox-vertical-align: top;
              --paper-checkbox-margin: 0px 16px 0px 0px;
            }
          }

          .insight-input-container {
            padding-bottom: 20px;

            .insight-label {
              font-family: 'Merriweather';
              font-size: 16px;
              letter-spacing: 1px;
              text-align: left;
              color: #ffffff;
              padding-bottom: 10px;
              display: block;
            }

            .insight-input {
              height: 42px;
              background-color: #ffffff;
              font-family: 'Open Sans';
              font-size: 16px;
              text-align: left;
              color: #181437;
              padding: 5px 10px 5px;

              .dropdown-content {
                width: 660px;

                @media only screen and (max-width: 1630px) {
                  width: 500px;
                }

                @media only screen and (max-width: 1370px) {
                  width: 400px;
                }

                @media only screen and (max-width: 1200px) {
                  width: 300px;
                }

                @media only screen and (max-width: 1000px) {
                  width: 500px;
                }

                @media only screen and (max-width: 650px) {
                  width: 400px;
                }

                @media only screen and (max-width: 500px) {
                  width: 350px;
                }

                @media only screen and (max-width: 435px) {
                  width: 300px;
                }

                @media only screen and (max-width: 400px) {
                  width: 250px;
                }

                @media only screen and (max-width: 340px) {
                  width: 200px;
                }

                @media only screen and (max-width: 290px) {
                  width: 150px;
                }

                @media only screen and (max-width: 240px) {
                  width: auto
                }
              }

              @media only screen and (max-width: 1000px) {
                height: 42px;
                padding: 10px;
                font-size: 14px;
                padding-bottom: 5px;
                width: auto;
              }
            }

            .insight-input-invalid {
              padding-bottom: 15px;
            }

            > paper-dropdown-menu.insight-input {
              width: calc(100% - 30px);
            }
          }
        }
      }
    }

    .footer-diamond {
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 70px;
    }

    > .footer-proper {
      text-align: center;
      display: grid;
      grid-template-columns: 600px;
      justify-content: center;
      justify-items: center;

      @media only screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
      }

      .footer-brought {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
      }

      .footer-logo {
        width: 300px;
        margin-bottom: 44px;
        margin-top: 16px;
      }

      .footer-text {
        font-family: 'Playfair Display';
        font-size: 26px;
        text-align: center;
        color: #ffffff;


        @media only screen and (max-width: 1000px) {
          font-size: 20px;
        }
      }

      .footer-text:last-of-type {
        padding-bottom: 40px;
      }


    }

    > .footer-center-grid {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
    }
  }

}
