.main-testimony {
  background-color: #191437;
  position: relative;

  > .main-testimony-white-background {
    height: 100px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    // margin-left: -150px;
    top: -1px;

    // @media only screen and (max-width: 1280px) {
    //   margin-left: -50px;
    // }
    @media only screen and (max-width: 1280px) {
      height: 70px;
    }


    @media only screen and (max-width: 1000px) {
      height: 70px;
    }


    @media only screen and (max-width: 930px) {
      // margin-left: -100px;
      height: 50px;
    }

    @media only screen and (max-width: 840px) {
      display: none
    }
  }


  > .main-testimony-container {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    @apply --layout-horizontal;
    @apply --layout-wrap;
    margin: 0 auto;
    max-width: 1440px;


    @media only screen and (max-width: 900px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media only screen and (max-width: 840px) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
    }

    @media only screen and (max-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;
    }


    > .testimony-container {
      @apply --layout-flex;
      margin-right: 90px;
      padding-top: 150px;

      @media only screen and (max-width: 1280px) {
        padding-top: 100px;
        margin-right: 50px;
      }

      @media only screen and (max-width: 930px) {
        padding-top: 50px;
      }

      @media only screen and (max-width: 840px) {
        margin-right: 0px;
      }

      @media only screen and (max-width: 840px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
      }

      // @media only screen and (max-width: 840px) {
      //   display: none
      // }

      > .testimony-text {
        font-family: 'Open Sans';
        font-size: 26px;
        line-height: 1.69;
        text-align: left;
        color: #ffffff;


        @media only screen and (max-width: 1280px) {
          font-size: 20px;
          margin-top: 20px;
        }

        @media only screen and (max-width: 1060px) {
          font-size: 18px;
        }

        @media only screen and (max-width: 1000px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 930px) {
          margin-top: 40px;
        }

        @media only screen and (max-width: 840px) {
          margin-top: 20px;
          text-align: center;
        }
      }

      > .testimony-small-rectangle {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 30px;
        height: 8px;
        background-color: #b32c50;

      }

      > .testimony-name {
        margin: 0px;
        font-family: 'Playfair Display';
        font-size: 40px;
        text-align: left;
        color: #ffffff;

        @media only screen and (max-width: 1280px) {
          font-size: 30px;
        }

        @media only screen and (max-width: 930px) {
          font-size: 27px;
        }

        @media only screen and (max-width: 840px) {
          text-align: center;
        }
      }

      > .testimony-work {
        margin: 0px;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: left;
        color: #ffffff;

        @media only screen and (max-width: 840px) {
          text-align: center;
        }
      }
    }

    > .testimony-image-container {
      @apply --layout-flex;
      z-index: 1;

      > .testimony-image {
        width: 100%;

        @media only screen and (max-width: 840px) {
          margin-top: 50px;
          width: 300px;
        }

        @media only screen and (max-width: 550px) {
          margin-top: 50px;
          width: 160px;
        }
      }
    }
  }

}
