<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">

<dom-module id="uxia-header">
  <template>
    <style>
      paper-progress {
        width: 100%;
        display: none;
      }
  </style>

  <app-header reavels>
      <app-toolbar>

        <div main-title>My app</div>


        <paper-progress value="10" indeterminate bottom-item></paper-progress>
      </app-toolbar>
    </app-header>
  </template>
  <script>
    (() => {
      class UxiaHeader extends Polymer.Element {
        static get is () { return 'uxia-header' }

        pageLoading () {
          this.shadowRoot.querySelector('paper-progress').style.display = 'block'
        }

        pageLoaded () {
          this.shadowRoot.querySelector('paper-progress').style.display = 'none'
        }
      }

      window.customElements.define(UxiaHeader.is, UxiaHeader)
    })()
  </script>
</dom-module>
