.footer {
  background-image: linear-gradient(to bottom, #b32c50, #191437);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 120px;
  padding-bottom: 120px;

  @media only screen and (max-width: 810px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
  }

  > h1 {
    font-family: 'Playfair Display';
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;

    @media only screen and (max-width: 600px) {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }

  > .insight-grid {
    @apply --layout-horizontal;
    @apply --layout-wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 226px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 15px;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 1000px) {
      display: block;
      margin-left: 0px;
      margin-right: 0px;
    }

    > .insight-image-container {

      @media only screen and (max-width: 1000px) {
        display: none;
      }

      > .insight-image {

      }
    }

    > .insight-form-container {

      > .insight-form {

        > .insight-input-container {
          padding-bottom: 20px;

          > .insight-label {
            font-family: 'Merriweather';
            font-size: 16px;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
            padding-bottom: 10px;
            display: block;
          }

          > .insight-input {
            width: 440px;
            height: 50px;
            background-color: #ffffff;
            font-family: 'Open Sans';
            font-size: 16px;
            text-align: left;
            color: #181437;
            padding: 15px;
            padding-bottom: 5px;

            --paper-input-container-underline: #{'{
              display: none;
            }'};

            --paper-input-container-underline-focus: #{'{
              display: none;
            }'};

            --paper-input-container-underline-disabled: #{'{
              display: none;
            }'};

            > .dropdown-content {
              width: 440px;

              @media only screen and (max-width: 1000px) {
                width: auto;
              }
            }

            @media only screen and (max-width: 1000px) {
              height: 42px;
              padding: 10px;
              font-size: 14px;
              padding-bottom: 5px;
              width: auto;
            }
          }

          > paper-dropdown-menu.insight-input {
            @media only screen and (max-width: 1000px) {
              width: calc(100% - 20px)
            }
          }
        }
      }
    }
  }

  > .footer-proper {
    text-align: center;
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    .footer-brought {
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: center;
      color: #ffffff;
    }

    .footer-text {
      font-family: 'Playfair Display';
      font-size: 26px;
      text-align: center;
      color: #ffffff;

      @media only screen and (max-width: 1000px) {
        font-size: 20px;
      }
    }


  }

  > .footer-center-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
}
