.header {
  @apply --layout-horizontal;
  @apply --layout-wrap;
  padding-left: 150px;
  padding-right: 150px;

  background-color: #181437;
  position: relative;
  color: #fff;

  @media only screen and (max-width: 1280px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    // height: 650px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  > .header-white-background {
    height: 150px;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    width: 100%;
    margin-left: -150px;

    @media only screen and (max-width: 1280px) {
      margin-left: -50px;
    }

    @media only screen and (max-width: 930px) {
      height: 100px;
    }

    @media only screen and (max-width: 840px) {
      display: none
    }

  }

  > .header-image {
    @apply --layout-flex-5;
    text-align: center;
    z-index: 1;

    @media only screen and (max-width: 550px) {
      width: 100%;
      flex: none;
    }

    > img {
      margin-top: 100px;
      margin-bottom: 30px;
      width: 100%;

      @media only screen and (max-width: 1280px) {
        width: 80%;
        margin-bottom: 0px;
        // height: 400px;
      }

      @media only screen and (max-width: 840px) {
        width: 300px;
      }

      @media only screen and (max-width: 550px) {
        width: 200px;
      }
    }
  }

  > .header-text {
    @apply --layout-flex-6;
    margin-left: 100px;
    margin-top: 50px;

    @media only screen and (max-width: 1280px) {
      margin-left: 0px;
    }

    @media only screen and (max-width: 840px) {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      flex: none;
    }

    > .header-text-title {
      font-family: 'Playfair Display', 'Times New Roman', serif;
      font-size: 50px;
      font-weight: 400;
      text-align: left;
      color: #ffffff;

      @media only screen and (max-width: 1360px) {
        font-size: 40px;
      }

      @media only screen and (max-width: 1060px) {
        font-size: 30px;
      }

      @media only screen and (max-width: 840px) {
        text-align: center;
      }

      @media only screen and (max-width: 550px) {
        font-size: 24px;
      }
    }

    > .header-paragraph {
      font-family: 'Open Sans';
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
      letter-spacing: 0.6px;
      text-align: left;
      color: #ffffff;

      @media only screen and (max-width: 1360px) {
        font-size: 16px;
      }

      @media only screen and (max-width: 1060px) {
        font-size: 14px;
      }
    }

    > .header-paragraph-big {
      @media only screen and (max-width: 840px) {
        text-align: center;
      }

      @media only screen and (max-width: 550px) {
        display: none;
      }
    }

    > .header-paragraph-small {
      display: none;

      @media only screen and (max-width: 550px) {
        text-align: center;
        display: block;
      }
    }

    > .header-grid {
      display: block;
      @media only screen and (max-width: 840px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
      }

    }
  }
}
