.main-testimony {
  padding-left: 150px;
  padding-right: 150px;

  padding-bottom: 80px;
  @apply --layout-horizontal;
  @apply --layout-wrap;
  position: relative;
  background-color: #191437;

  @media only screen and (max-width: 810px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  > .main-testimony-white-background {
    height: 70px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    margin-left: -150px;
    top: -1px;

    @media only screen and (max-width: 1280px) {
      display: none;
    }

  }

  > .testimony-container {
    @apply --layout-flex;
    margin-right: 90px;
    padding-top: 150px;

    > .testimony-text {
      font-family: 'Open Sans';
      font-size: 26px;
      line-height: 1.69;
      text-align: left;
      color: #ffffff;
    }

    > .testimony-small-rectangle {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 30px;
      height: 8px;
      background-color: #b32c50;

    }

    > .testimony-name {
      margin: 0px;
      font-family: 'Playfair Display';
      font-size: 40px;
      text-align: left;
      color: #ffffff;
    }

    > .testimony-work {
      margin: 0px;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 5px;
      text-align: left;
      color: #ffffff;
    }
  }

  > .testimony-image-container {
    @apply --layout-flex;
    z-index: 1;

    > .testimony-image {
      width: 100%
    }
  }
}
