.organizations {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;

  @media only screen and (max-width: 810px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  > .organization-grid {
    @apply --layout-horizontal;
    @apply --layout-wrap;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 10px 15px;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px 150px;
    }

    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
      grid-template-rows: 120px 120px 120px 120px 120px 120px;
    }

    > .organization {

      > .organization-image {
        height: 86px;
        width: 200px;
      }
    }
  }
}
